.wrapper {
    padding: 20px;
}

.btn {
    display: block;
}

.header {
    font-size: 30px;
    right: 0;
    margin: 30px;
}

.highScores {
    position: absolute;
    right: 30px;
    top: 0;
}

.result {
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
}

.quiz-answers {
    display: block;
}

.btn {
    text-align: left;
    border-radius: 10px;
    width: 400px;
}

.initials {
    display: none;
    font-size: 30px;
}

.submit {
    border: none;
    background-color: rgb(122, 8, 175);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(178, 10, 255);
}

.scores {
    display: inline-block;
    background: rgba(125, 60, 155, 0.5);
    width: 500px;
}

.scores li {
    display: block;
    padding: 20px;
}

.options {
    display: block;
    text-align: center;
    width: 100%;
}

.btn2 {
    border: none;
    background-color: rgb(122, 8, 175);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

.btn2:hover {
    background-color: rgb(178, 10, 255);
}